<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h4>Perguntas</h4>
    </div>
    <div class="float-right">
        <button type="button" class="btn btn-primary" [routerLink]="[ 'nova']">Nova Pergunta</button>
    </div>
  </div>
</div>
<div class="card-body">
  <table class="table table-hover" *ngIf="perguntas$ | async as perguntas; else loading">
<thead>
  <tr>
    <th>#</th>
    <th>Enunciado</th>
    <th>Dificuldade</th>
    <th>Disciplina</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let pergunta of perguntas">
  <td>{{pergunta.Id}}</td>
  <td>{{pergunta.Enunciado}}</td>
  <td>{{pergunta.TipoDificuldadeId}}</td>
  <td>{{pergunta.DisciplinaId}}</td>
  <td>
    <span class="float-right">
      <button class="btn btn-outline-warning mb-1 btn-sm">
        Atualizar
      </button>
      <button class="btn btn-outline-danger mb-1 btn-sm">
          Deletar
        </button>
    </span>
  </td>
  </tr>
</tbody>
</table>

<ng-template #loading>
<span>Carregando Perguntas...</span>
</ng-template>

</div>